html{
    height: 100%;
}

@font-face{
    font-family: FUENTE1;
    src: url(BebasNeue-Regular.ttf);
}


body{
    min-height: 100%;
    font-family: FUENTE1;
}

.contenedor{
    border-radius: 4px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: #16457b;
    color: #f9df34;
    color: #ffc107;
}

.header h1{
    display: flex;
    margin: auto;
    font-size: 100px;
    justify-content: center;
}

.nav{
    grid-area: nav;
    background-color: #16457b;
}

.flex{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    align-items: center;
}

.flex div:hover{
    border: 2px solid #16457b;
    padding: 3px;
    margin: 3px;
    text-align: center;
}

.links-none{
    text-decoration: none;
    color: #f9df34;
}


.main{
    grid-area: main;
    background-color: ;
}

.titulo-main{
   color: #16457b;
   border: 2px solid #16457b;
   margin: 20px 20px 20px 20px;
}

.proyecto-redactado{
    color: #16457b;
    font-size: large;
}


.lili{
    display: flex;
    color: #16457b;
    font-size: larger;
    justify-content: left;

}

.sidebar{
    grid-area: sidebar;
    background-color: ;
}

.imagenes-canalla{
    display: flex;
    justify-content: center;
    transition: all 2s;
    
}

.imagenes{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    flex-direction: column;
    max-width: 200px;
    justify-content: center;

}

.imagenes{
    transition: all 2s;
}

.imagenes:hover{
    transform: translate(80%);
}

.footer{
    grid-area: footer;
    color: #16457b;
}

.contenedor{
    display: grid;
    grid-template: 
    "header" 100px
    "nav" 50px
    "main" auto
    "sidebar" auto
    "footer" 50px; 
}

@media (min-width: 600px) {
    .contenedor {
        grid-template: 
    "header nav" 100px
    "main main" auto
    "sidebar sidebar" auto
    "footer footer" 70px /
    auto 200px; 
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .proyecto-redactado{
        font-size: large;
    }

    .imagenes{
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        flex-direction: column;
    }

    .imagenes{
        transition: all 2s;
    }
    
    .imagenes:hover{
        transform: translate(150%);
    }
}

@media (min-width: 900px) {
    .contenedor {
        grid-template: 
    "header nav" 100px
    "main main" auto
    "sidebar sidebar" auto
    "footer footer" 70px /
    auto 400px; 
    }

    .header h1 {
        padding-left: 210px;
    }

    .flex{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 20px;
        align-items: center;
    }
    
    .flex div{
        border: 2px solid #f9df34;
        padding: 3px;
        margin: 3px;
        text-align: center;
    }

    .proyecto-redactado{
        font-size: x-large;
    }

    .imagenes{
        display: flex;
        margin-top: 18px;
        flex-direction: row;
    }

    .imagenes{
        transition: all 2s;
    }
    
    .imagenes:hover{
        transform: translate(150%);
    }
}
